<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myStudent" class="com.bjpn.ba01.Student">
        <property name="name" value="Tom"/>
        <!--使用set方法注入属性值-->
        <property name="age" value="20"/>
    </bean>

    <bean id="myDate" class="java.util.Date">
        <property name="time" value="5648156465165"/>
    </bean>

    <bean id="myStudent2" class="com.bjpn.ba02.Student">
        <property name="name" value="Tom"/>
        <!--使用set方法注入属性值-->
        <property name="age" value="30"/>
        <property name="school" ref="mySchool"/>

    </bean>

<!--    <bean id="myStudent3" class="com.bjpn.ba03.Student">-->
<!--        <constructor-arg name="name" value="Tom"/>-->
<!--        &lt;!&ndash;使用构造器注入属性值&ndash;&gt;-->
<!--        <constructor-arg name="age" value="30"/>-->
<!--        <constructor-arg name="school" ref="mySchool3"/>-->
<!--    </bean>-->
<!--    <bean id="myStudent4" class="com.bjpn.ba03.Student">-->
<!--        <constructor-arg index="0" value="Catlin"/>-->
<!--        &lt;!&ndash;使用构造器注入属性值&ndash;&gt;-->
<!--        <constructor-arg index="1" value="40"/>-->
<!--        <constructor-arg index="2" ref="mySchool3"/>-->
<!--    </bean>-->
    <bean id="mySchool" class="com.bjpn.ba02.School">
        <property name="name" value="小学"/>
        <property name="address" value="安徽省"/>
    </bean>
    <bean id="mySchool3" class="com.bjpn.ba03.School">
        <property name="name" value="大学"/>
        <property name="address" value="安徽省"/>
    </bean>

    <!--使用构造器注入读取文件-->
    <bean id="myFile" class="java.io.File">
        <constructor-arg name="parent" value="F:\tmp"/>
        <constructor-arg name="child" value="aaa.txt"/>
    </bean>

    <!--使用autowire自动注入-->
    <bean id="myStudent5" class="com.bjpn.ba03.Student" autowire="byName">
        <property name="name" value="Jerry"/>
        <property name="age" value="30"/>
    </bean>
    <bean id="school" class="com.bjpn.ba03.School">
        <property name="name" value="小学"/>
        <property name="address" value="浙江省"/>
    </bean>
</beans>